body,
html,
#__next {
  height: 100%;
}

body {
  margin: 0;
  background: rgb(0, 0, 0);
  color: white;
  font-family: system-ui;
}

input,
select {
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  font: inherit;
}

label,
form {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

button {
  font: inherit;
  padding: 0.6rem;
  border-radius: 0.4rem;
  background: rgb(238, 238, 238);
  border: none;
  transition: background 0.15s;
}

button:hover {
  background: rgb(214, 214, 214);
}

.svg {
  width: 100%;
  height: 100%;
}

.container {
  touch-action: none;
  height: 100%;
}

.lobby {
  padding: 0.8rem;
  text-align: center;
}

.form {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-size: 45px;
  margin: 0 0 1.5rem 0;
}

.par {
  font-size: 25px;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
  padding: 0.8rem 0 0.8rem 0;
  margin: 1.5rem;
  font-weight: 100;
}

.or {
  font-size: 25px;
  margin: 1.5rem 0 1.5rem 0;
}
